PIHOLE_PASSWORD={{ pihole_password }}
CLOUDFLARE_TUNNEL_TOKEN={{ cloudflare_tunnel_token }}
SEMAPHORE_USER={{ semaphore_user }}
SEMAPHORE_PASSWORD={{ semaphore_password }}
SEMAPHORE_EMAIL={{ semaphore_email }}